.nav {
    display: flex;
    padding: 1em 3em;
}

.nav-brand--logo {
    height: 2.5em;
}

//menu
.nav__list {
    margin: auto 2em;
    list-style-type: none;
}

.nav__item {
    float: left;
}

.nav__item--link {
    color: $quick-silver;
    padding: 0 1em;
    font-family: $pt-mono;
    &:hover {
        color: $black;
    }
}

//login
.nav__button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}